.index__header {
  flex-direction: column !important;
  justify-content: space-around !important;
  background-image: url("../images_csm/joshua-rawson-harris-WLXkaubn0Ig-unsplash.jpg");
  /* Image source: url<https://unsplash.com/photos/WLXkaubn0Ig>, Photo by Joshua Rawson-Harris on Unsplash */
}

.index__header h2 {
  font-weight: 300;
  font-size: 16px;
}

.index__headerBottom {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index__headerBottom strong {
  color: #f58f4a;
}

@media (max-width: 480px) {
  .index__header h1 {
    font-size: 2.7rem !important;
  }
}

/* #################################
------------ MAIN ------------
################################# */
.index__main {
  width: 90vw;
  margin-top: 10vh;
}

.index__subHeader {
  width: 100%;
  margin-bottom: 5vh;
  font-weight: 400;
  font-size: 2.5rem;
}

.index__sections {
  width: 100%;
  display: flex;
  margin-bottom: 10vh;
}
.index__sections:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.index__SectionsImageContainer,
.index__sectionTextContainer {
  background-color: #eceef5;
  width: 50%;
}

.index__SectionsImageContainer img {
  width: 100%;
  height: auto;
}

.index__sectionTextContainer h2,
.index__sectionTextContainer p {
  padding: 25px 20px 0 40px;
}

.index__sectionTextContainer h2 {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .index__main {
    width: 100vw;
  }
  .index__subHeader {
    margin-left: 5vw;
  }
  .index__sections {
    margin-bottom: 5vh;
  }
  .index__sectionTextContainer h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .index__main {
    width: 100vw;
  }
  .index__sections {
    flex-direction: column !important;
    align-items: center;
  }
  .index__SectionsImageContainer,
  .index__sectionTextContainer {
    width: 90%;
  }
  .index__sectionTextContainer {
    padding: 20px 0 80px 0;
  }
  .index__sectionTextContainer h2,
  .index__sectionTextContainer p {
    padding: 0 20px;
  }
}

/* #################################
---------- Subscription form ------
################################# */
.index__formComtainer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.index__formComtainer h4 {
  font-weight: 300;
  font-size: 2rem;
  opacity: 0.7;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 10px;
}

.index__form input {
  width: 40vw;
  height: 35px;
  font-size: 18px;
  opacity: 0.7;
}
.index__form button {
  width: 140px;
  height: 38px;
  font-size: 14px;
  letter-spacing: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #fff;
  color: #1a1a1a;
  cursor: pointer;
}
.index__form button:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .index__form input {
    display: flex;
    flex-direction: column;
  }
  .index__form input {
    width: 65vw;
    min-width: 300px;
  }
  .index__form button {
    margin-top: 10px;
  }
}
