@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap');


  h1, h4 {
  font-family: Helvetica;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
  }

  p {
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
    font-weight: lighter;
  }

  .on_this_page {
    text-decoration: underline;
    font-weight: 900;
  }

/* Smartphones (portrait) */
@media only screen and (min-width : 320px) and (max-width : 480px) { 
  
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

    /* ----------Navbar---------- */
  .logo {
    width: 100%;
    margin: 0 auto;
    height: 30px;
  }

  #navigation_bar img{
    float: center;
    height: 30px;
    margin-top: 5px;
  }

  #navigation_bar {
    background-color: #ffffff;
    height: auto;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  
  #navigation_bar ul {
    padding: 10px;
    margin: 0px;
    text-align: center;
    display: inline-block;
  }
  
  #navigation_bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
  }
  
  #navigation_bar li a {
    color: black;
    font-size: 14px;
    font-family: Helvetica;
    text-decoration: none;
    line-height: 35px;
    padding: 3px 1.9vw 3px 2vw;
    opacity: 0.8;
  }

  /* ----------Header---------- */
  .header_container {
    background-image: url("/images_csm/william-bout-264826.jpg");
    /* Image source: Community Science Museum, author: William Bout */
    background-position: center center;
    position: relative;
    height: 400px;
  }

  .inside_header_container {
    margin: 15vh 0 15vh 0;
  }

  h1 {
    font-size: 4rem;
    color: #f5f5f5;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
  }

  /* ----------Below Header---------- */
  .title_text {
    margin: 5rem 0.4rem 5rem 0.4rem;
    text-align: center;
  }

  h2 {
    color: #1A1A1A;
    font-weight: initial;
  }

  /* ----------Articles---------- */

  .get_involved_title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1a1a1a;
    margin: 2rem 0 1.5rem 1rem;
  }

  .section_one, .section_two {
    margin: 0 1rem 0 1rem;
    padding-bottom: 1rem;
  }

  .section_one img {
    width: 100%;
    height: auto;
  }

  .photo_source_mobile {
    opacity: 70%;
    font-size: x-small;
    margin: -0.15rem 0 0 0.5rem;
  }

  .photo_source_desktop_one, .photo_source_desktop_two {
    visibility: collapse;
  }

  .section_two img {
    width: 100%;
    height: auto;
  }

  .article_text {
    margin: 1.5rem 0.4rem 1.5rem 0.4rem;
    font-size: 16px;
  }

  .section_one h2, .section_two h2 {
    margin: 1.5rem 0 0 0.4rem;
    font-weight: bold;
  }


/* ----------Form---------- */

.contact_us {
  text-align: center;
  margin: 0;
  padding-top: 5rem;
  opacity: 80%;
  font-size: 40px;
}

.form_text {
  opacity: 80%;
  max-width: 90%;
  text-align: center;
  align-self: center;
  font-size: small;
  margin: 25px 25px;
}

input {
  padding: 10px 10px;
  margin: 3px 3px;
  width: 93%;
  font-size: large;
  font-style: normal;
  opacity: 90%;
  border: 0;
  border: 2px solid #eee;
  border-radius: 5px;
}

.comment_box {
  padding: 10px 10px;
  margin: 10px 0 0 3px;
  height: 200px;
  width: 93%;
  font-size: large;
  opacity: 90%;
  border: 2px solid #eee;
  border-radius: 5px;
}

.form_container button {
  appearance: none;
  -webkit-appearance: none;
  padding: 12px;
  margin: 10px 0 0 5px;
  border: none;
  background-color:rgb(40, 65, 207);
  color :#fff;
  font-weight: 600;
  border-radius: 5px;
  width: 30%;
}

  /* ----------Bottom---------- */
  .bottom {
    margin-top: 10rem;
    padding: 3rem 0rem 3rem 0rem;
    background-color: #8B9096;
  }

  .bottom h4 {
    color: #1A1A1A;
    text-align: left;
  }

  .address, .hours {
    margin: 3rem 0rem 3rem 3rem;
    font-size: smaller;
    opacity: 90%;
  }

  .hours p {
    margin: 0;
    padding-bottom: 7px;
  }

  .address p {
    margin: 0;
    padding-bottom: 3px;
  }

  /* ----------Footer---------- */
  footer {
  background-color: #8B9096;
  font-size: x-small;
  font-weight: lighter;
  text-align: center;
  }
  
  footer p {
    opacity: 70%;
  }

}


/*---------------------------------------------------------------------------------------------*/  
/* Smartphones (landscape) */
@media (min-width: 481px) and (max-width: 767px) {
   
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* ----------Navbar---------- */ 
  .logo {
    margin: 0 auto;
  }

  #navigation_bar img{
    float: left;
    height: 30px;
    margin-top: 11px;
    margin-left: 10px;
  }

  #navigation_bar {
    background-color: #ffffff;
    height: auto;
    width: 100%;
    text-align: right;
    flex-direction: column;
  }
  
  #navigation_bar ul {
    padding: 10px;
    margin: 0px;
    text-align: right;
    display: inline-block;
  }
  
  #navigation_bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
  }
  
  #navigation_bar li a {
    color: black;
    font-size: 14px;
    font-family: Helvetica;
    text-decoration: none;
    line-height: 35px;
    padding: 3px 6px 3px 6px;
    opacity: 0.8;
  }
  
  /* ----------Header---------- */
  .header_container {
    background-image: url("/images_csm/william-bout-264826.jpg");
    /* Image source: Community Science Museum, author: William Bout */
    background-position: center center;
    position: relative;
    height: 400px;
  }

  .inside_header_container {
    margin: 15vh 0 15vh 0;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000;
  }
  
   /* ----------Below Header---------- */
   .title_text {
    margin: 5rem 2rem 5rem 2rem;
    text-align: center;
  }

  h2 {
    color: #1A1A1A;
    font-weight: initial;
  }

  /* ----------Articles---------- */
  .get_involved_title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1a1a1a;
    margin: 2rem 0 1.5rem 1rem;
  }

  .section_one, .section_two {
    margin: 0 1rem 0 1rem;
    padding-bottom: 1rem;
  }

  .section_one img {
    width: 100%;
    height: auto;
  }

  .photo_source_mobile {
    opacity: 70%;
    font-size: x-small;
    margin: -0.15rem 0 0 1rem;
  }

  .photo_source_desktop_one, .photo_source_desktop_two {
    visibility: collapse;
  }

  .section_two img {
    width: 100%;
    height: auto;
  }

  .article_text {
    margin: 1.5rem 1rem 1.5rem 1rem;
    font-size: 16px;
  }

  .section_one h2, .section_two h2 {
    margin: 1.5rem 0 0 1rem;
    font-weight: bold;
  }

   /* ----------Form---------- */
.form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 478px;
  padding: 2 0px;
}

.contact_us {
  align-self: center;
  margin: 0;
  padding-top: 3rem;
  opacity: 80%;
  font-size: 40px;
}

.form_text {
  opacity: 80%;
  max-width: 90%;
  text-align: center;
  align-self: center;
  font-size: small;
  margin: 20px 20px;
}

input {
  padding: 10px 10px;
  margin: 3px 3px;
  width: 450px;
  font-size: large;
  font-style: normal;
  opacity: 90%;
  border: 0;
  border: 2px solid #eee;
  border-radius: 5px;
}

.comment_box {
  padding: 10px;
  margin: 10px 0 0 3px;
  height: 200px;
  width: 450px;
  font-size: large;
  opacity: 90%;
  border: 2px solid #eee;
  border-radius: 5px;
}

.form_container button {
  appearance: none;
  -webkit-appearance: none;
  padding: 12px;
  margin: 10px 0 0 5px;
  border: none;
  background-color:rgb(40, 65, 207);
  color :#fff;
  font-weight: 600;
  border-radius: 5px;
  width: 30%;
}

  /* ----------Bottom---------- */
  .bottom {
    margin-top: 10rem;
    padding: 3rem 0 3rem 0;
    background-color: #8B9096;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom h4 {
    color: #1A1A1A;
    text-align: left;
  }

  .address, .hours {
    padding: 0rem 0rem 3rem 3rem;
    font-size: smaller;
    opacity: 90%;
    width: 250px;
    height: 230px;
    float: left;
  }

  .hours p {
    margin: 0;
    padding-bottom: 7px;
  }

  .address p {
    margin: 0;
    padding-bottom: 3px;
  }

  /* ----------Footer---------- */
  footer {
  background-color: #8B9096;
  font-size: x-small;
  font-weight: lighter;
  text-align: center;
  }
  
  footer p {
    opacity: 70%;
  }

  
}


/*---------------------------------------------------------------------------------------------*/
/* Tablet (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {

  /* ----------Navbar---------- */
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .logo {
    margin: 0 auto;
  }

  #navigation_bar img{
    float: left;
    height: 50px;
    margin: 10px;
    padding-left: 3%;
  }

  #navigation_bar {
    padding: 0 4rem 0 4rem;
    background-color: #ffffff;
    height: auto;
    text-align: right;
    flex-direction: column;
  }
  
  #navigation_bar ul {
    padding: 10px 0px 10px 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
  }
  
  #navigation_bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
  }
  
  #navigation_bar li a {
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    text-decoration: none;
    line-height: 52px;
    padding-left: 10px;
    opacity: 0.8;
  }

  #navigation_bar li a:hover {
    text-decoration: underline;
  }
  
  /* ----------Header---------- */

  .header_container {
    background-image: url("/images_csm/william-bout-264826.jpg");
    /* Image source: Community Science Museum, author: William Bout */
    background-position: center center;
    position: relative;
    height: 400px;
    margin: 0 4rem 0 4rem;
  }

  .inside_header_container {
    margin: 15vh 0 15vh 0;
    text-align: center;
  }

  h1 {
    font-size: 5rem;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000;
  }

   /* ----------Below Header---------- */
   .title_text {
    margin: 5rem 20vw 5rem 20vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    color: #1A1A1A;
    font-weight: initial;
    font-size: 1.5rem;
  }

   /* ----------Articles---------- */
   .get_involved_title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #1a1a1a;
    margin: 8rem 0 2rem 12rem;
  }

   .section_one, .section_two {
    margin: 0 12rem 0 12rem;
    padding-bottom: 1rem;
    background-color: #F1F2F6;
  }

  .section_one img {
    width: 100%;
    height: auto;
  }

  .photo_source_mobile {
    opacity: 70%;
    font-size: x-small;
    margin: -0.15rem 0 0 1rem;
  }

  .photo_source_desktop_one, .photo_source_desktop_two {
    visibility: collapse;
  }

  .section_two img {
    width: 100%;
    height: auto;
  }

  .article_text {
    margin: 1.5rem 1rem 1.5rem 1rem;
    font-size: 16px;
  }

  .section_one h2, .section_two h2 {
    margin: 1.5rem 0 0 1rem;
    font-size: xx-large;
    font-weight: bold;
  }

    /* ----------Form---------- */
.form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 478px;
  padding: 2 0px;
}

.contact_us {
  align-self: center;
  margin: 0;
  padding-top: 7rem;
  opacity: 80%;
  font-size: 40px;
}

.form_text {
  opacity: 80%;
  max-width: 90%;
  text-align: center;
  align-self: center;
  font-size: small;
  margin: 20px 20px;
}

input {
  padding: 10px 10px;
  margin: 3px 3px;
  width: 450px;
  font-size: large;
  font-style: normal;
  opacity: 90%;
  border: 0;
  border: 2px solid #eee;
  border-radius: 5px;
}

.comment_box {
  padding: 10px;
  margin: 10px 0 0 3px;
  height: 200px;
  width: 450px;
  font-size: large;
  opacity: 90%;
  border: 2px solid #eee;
  border-radius: 5px;
}

.form_container button {
  appearance: none;
  -webkit-appearance: none;
  padding: 12px;
  margin: 10px 0 0 5px;
  border: none;
  background-color:rgb(40, 65, 207);
  color :#fff;
  font-weight: 600;
  border-radius: 5px;
  width: 30%;
}

  /* ----------Bottom---------- */
  .bottom {
    margin-top: 10rem;
    padding: 3rem 0 3rem 0;
    background-color: #8B9096;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom h4 {
    color: #1A1A1A;
    text-align: left;
  }

  .hours, .address {
    font-size: smaller;
    opacity: 90%;
    width: 250px;
    height: 230px;
    float: left;
  }

  .address {
    padding-left: 5vw;
  }

  .hours p {
    margin: 0;
    padding-bottom: 7px;
  }

  .address p {
  margin: 0;
  padding-bottom: 3px;
  }

  /* ----------Footer---------- */
  footer {
  background-color: #8B9096;
  font-size: x-small;
  font-weight: lighter;
  text-align: center;
  }
  
  footer p {
    opacity: 70%;
  }
  
}


/*---------------------------------------------------------------------------------------------*/
/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

  
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* ----------Navbar---------- */
  .logo {
    margin: 0 auto;
  }

  #navigation_bar img{
    float: left;
    height: 50px;
    margin: 10px;
    padding-left: 3%;
  }

  #navigation_bar {
    margin: 0 2rem 0 2rem;
    background-color: #ffffff;
    height: auto;
    text-align: right;
    flex-direction: column;
  }
  
  #navigation_bar ul {
    padding: 10px 0px 10px 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
  }
  
  #navigation_bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
  }
  
  #navigation_bar li a {
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    text-decoration: none;
    line-height: 52px;
    padding-left: 20px;
    opacity: 0.8;
  }
  
  #navigation_bar li a:hover {
    text-decoration: underline;
  }

  /* ----------Header---------- */
  .header_container {
    background-image: url("/images_csm/william-bout-264826.jpg");
    /* Image source: Community Science Museum, author: William Bout */
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin: 0 2rem 0 2rem;
  }

  .inside_header_container {
    margin: 15vh 0 15vh 0;
    text-align: center;
  }

  h1 {
    font-size: 7rem;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000;
  }

  /* ----------Below Header---------- */
  .title_text {
    margin: 4rem 20vw 4rem 20vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #1A1A1A;
    font-weight: initial;
  }
  
  /* ----------Articles---------- */
  .get_involved_title {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    color: #1a1a1a;
    margin: 8rem 0 0 2rem;
  }

  .section_one {
    margin: 2rem 2rem 0 2rem;
    background-color: #F1F2F6;
    display: inline-block;
    align-items: flex-start;
  }

  .section_one img {
    width: 100%;
    height: auto;
    float: left;
    width: 50%;
  }

  .h2_one_push_right {
    margin-left: 50.5vw;
    margin-top: -1rem;
    font-size: xx-large;
  }

  .h2_two_push_right {
    padding-left: 2.5rem;
    margin-top: -2rem;
    font-size: xx-large;
  }


  .article_text {
    margin: 0 0 1rem 0;
    padding-left: 2.5rem;
    float: left;
    width: 40%;
    font-size: 16px;
  }

  .photo_source_desktop_one {
    opacity: 70%;
    font-size: x-small;
    margin-left: 2rem;
  }

  .photo_source_mobile {
    visibility: collapse;
  }

  .section_two {
    margin: 2rem 2rem 0 2rem;
    background-color: #F1F2F6;
    display: inline-block;
    align-items: flex-start;
  }

  .section_two img {
    width: 100%;
    height: auto;
    float: right;
    width: 50%;
  }

  .photo_source_desktop_two {
    opacity: 70%;
    font-size: x-small;
    margin-right: 2rem;
    text-align: end;
  }

  /* ----------Form---------- */
.form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 478px;
  padding: 2 0px;
}

.contact_us {
  align-self: center;
  margin: 0;
  padding-top: 10rem;
  opacity: 80%;
  font-size: 48px;
}

.form_text {
  opacity: 80%;
  max-width: 90%;
  text-align: center;
  align-self: center;
  font-size: small;
  margin: 20px 20px;
}

input {
  padding: 10px 10px;
  margin: 3px 3px;
  width: 450px;
  font-size: large;
  font-style: normal;
  opacity: 90%;
  border: 0;
  border: 2px solid #eee;
  border-radius: 5px;
}

.comment_box {
  padding: 10px;
  margin: 10px 0 0 3px;
  height: 200px;
  width: 450px;
  font-size: large;
  opacity: 90%;
  border: 2px solid #eee;
  border-radius: 5px;
}

.form_container button {
  appearance: none;
  -webkit-appearance: none;
  padding: 12px;
  margin: 10px 0 0 5px;
  border: none;
  background-color:rgb(40, 65, 207);
  color :#fff;
  font-weight: 600;
  border-radius: 5px;
  width: 30%;
}


.form_container button:hover {
  background-color:rgb(91, 108, 206);
}

  /* ----------Bottom---------- */
  .bottom {
    margin-top: 10rem;
    padding: 3rem 0 3rem 0;
    background-color: #8B9096;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom h4 {
    color: #1A1A1A;
    text-align: left;
  }

  .hours, .address {
    font-size: smaller;
    opacity: 90%;
    width: 250px;
    height: 230px;
    float: left;
  }

  .address {
    padding-left: 10vw;
  }

  .hours p {
    margin: 0;
    padding-bottom: 7px;
  }

  .address p {
  margin: 0;
  padding-bottom: 3px;
  }
  /* ----------Footer---------- */
  footer {
  background-color: #8B9096;
  font-size: x-small;
  font-weight: lighter;
  text-align: center;
  }

  footer p {
    opacity: 70%;
  }
  
}


/*---------------------------------------------------------------------------------------------*/
/* Desktop for higher resolution */
@media (min-width: 1281px) {

  
  html, body {
    height: 100%;
  }

  body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1920px;
  }

  /* ----------Navbar---------- */
  .logo {
    margin: 0 auto;
  }

  #navigation_bar img{
    float: left;
    height: 50px;
    margin: 10px;
    padding-left: 3%;
  }

  #navigation_bar {
    margin: 0 5rem 0 5rem;
    background-color: #ffffff;
    height: auto;
    text-align: right;
    flex-direction: column;
  }
  
  #navigation_bar ul {
    padding: 10px 0 10px 0px;
    margin: 0px;
    text-align: right;
    display: inline-block;
  }
  
  #navigation_bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
  }
  
  #navigation_bar li a {
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    text-decoration: none;
    line-height: 52px;
    padding-left: 25px;
    opacity: 0.8;
  }
  
  #navigation_bar li a:hover {
    text-decoration: underline;
  }

/* ----------Header---------- */
.header_container {
  background-image: url("/images_csm/william-bout-264826.jpg");
  /* Image source: Community Science Museum, author: William Bout */
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  margin: 0 5rem 0 5rem;
}

.inside_header_container {
  margin: 15vh 0 15vh 0;
  text-align: center;
}

h1 {
  font-size: 7rem;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #000;
}

/* ----------Below Header---------- */
.title_text {
  margin: 5rem 25vw 4rem 25vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1A1A1A;
  font-weight: initial;
}

/* ----------Articles---------- */
.get_involved_title {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #1a1a1a;
  margin: 8rem 0 0 5rem;
}

.section_one {
margin: 2rem 5rem 0 5rem;
background-color: #F1F2F6;
display: inline-block;
align-items: flex-start;
}

.section_one img {
width: 100%;
height: auto;
float: left;
width: 50%;
}

.article_text {
margin: 0 0 1rem 0;
padding-left: 2.5rem;
float: left;
width: 40%;
font-size: 16px;
}

.h2_one_push_right {
  margin-left: 47.3vw;
  font-size: xx-large;
}

.h2_two_push_right {
  padding-left: 2.5rem;
  font-size: xx-large;
}

.photo_source_desktop_one {
opacity: 70%;
font-size: x-small;
margin-left: 5rem;
}

.photo_source_mobile {
visibility: collapse;
}

.section_two {
margin: 2rem 5rem 0 5rem;
background-color: #F1F2F6;
display: inline-block;
align-items: flex-start;
}

.section_two img {
width: 100%;
height: auto;
float: right;
width: 50%;
}

.photo_source_desktop_two {
opacity: 70%;
font-size: x-small;
margin-right: 5rem;
text-align: end;
}

/* ----------Form---------- */
.form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 478px;
  padding: 2 0px;
}

.contact_us {
  align-self: center;
  margin: 0;
  padding-top: 10rem;
  opacity: 80%;
  font-size: 48px;
}

.form_text {
  opacity: 80%;
  max-width: 90%;
  text-align: center;
  align-self: center;
  font-size: small;
  margin: 20px 20px;
}

input {
  padding: 10px 10px;
  margin: 3px 3px;
  width: 450px;
  font-size: large;
  font-style: normal;
  opacity: 90%;
  border: 0;
  border: 2px solid #eee;
  border-radius: 5px;
}

.comment_box {
  padding: 10px;
  margin: 10px 0 0 3px;
  height: 200px;
  width: 450px;
  font-size: large;
  opacity: 90%;
  border: 2px solid #eee;
  border-radius: 5px;
}

.form_container button {
  appearance: none;
  -webkit-appearance: none;
  padding: 12px;
  margin: 10px 0 0 5px;
  border: none;
  background-color:rgb(40, 65, 207);
  color :#fff;
  font-weight: 600;
  border-radius: 5px;
  width: 30%;
}


.form_container button:hover {
  background-color:rgb(91, 108, 206);
}

/* ----------Bottom---------- */
.bottom {
margin-top: 10rem;
padding: 3rem 0 3rem 0;
background-color: #8B9096;
display: flex;
align-items: center;
justify-content: center;
}

.bottom h4 {
color: #1A1A1A;
text-align: left;
}

.hours, .address {
font-size: smaller;
opacity: 90%;
width: 250px;
height: 230px;
float: left;
}

.address {
padding-left: 10vw;
}

.hours p {
margin: 0;
padding-bottom: 7px;
}

.address p {
margin: 0;
padding-bottom: 3px;
}

/* ----------Footer---------- */
footer {
background-color: #8B9096;
font-size: x-small;
font-weight: lighter;
text-align: center;
}

footer p {
opacity: 70%;
}

}